@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content{
     display: flex;
     flex-direction: column;
     align-items: center;
}

.content h1{
    font-size: 40px;
    font-family: 'Lora', serif;
    margin: 30px 0;
    font-style: italic;
    filter: drop-shadow(2px 2px 1px rgb(255, 0, 0));
}

.content h1:hover{
    filter: drop-shadow(2px 2px 1px rgb(47, 163, 225));
    font-size: 50px;
    transition: all 0.2s ease-in;
}

.content img{
    height: 500px;
    width: 600px;
    margin-bottom: 30px;    
    filter: drop-shadow(5px 10px  rgb(224, 79, 16));
}

.content img:hover{
    filter: drop-shadow(10px 5px  rgb(47, 163, 225));
}



.btn-area{
    display: flex;
    gap: 10px;
}


.btn-area #yes{
    background-color: rgb(40, 175, 16);
    color: #FFF;
    width: 60px;
    height: 50px;
    border-radius: 10px;
}

.btn-area #no{
    background-color: rgb(175, 40, 16);
    color: #FFF;
    width: 60px;
    height: 50px;
    border-radius: 10px;
}

.btn-area #yes:hover{
    color: #FFF;
    width: 75px;
    height: 60px;
    opacity: 80%;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.btn-area #no:hover{
    opacity: 80%;
    cursor: pointer;
    color: #FFF;
    width: 75px;
    height: 60px;
    transition: all 0.2s ease-in;
}

